[submodule "src/QDarkStyleSheet"]
	path = src/QDarkStyleSheet
	url = https://github.com/suratovvlad/QDarkStyleSheet.git
[submodule "src/QDarkStyleSheet_2.1"]
	path = src/QDarkStyleSheet_2.1
	url = https://github.com/suratovvlad/QDarkStyleSheet.git
	branch = 2.1
